<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <header>

        <div class="main-header">
    
            <!-- LOGO PRINCIPAL -->
    
            <div class="logo"><a href="/"><img src="/images/logo-mercado-liebre.svg" alt= "logo" width="100%"></a></div>
    
            <!-- Barra de búsqueda -->
    
            <searchbar class="search-bar">
                <input size="auto" type="text" placeholder="Buscar productos... "  required>
                <div class = "logo-search-bar"><i class="fas fa-search"></i></div>
            </searchbar>
    
            <!-- Mensaje beneficio cuotas -->
    
            <p class="tarjeta-header-2"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>
    
        </div>
    
        <!-- Mensaje beneficio cuotas -->
    
        <p class="tarjeta-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>
    
        <!-- Contenedor header con segmentos principales -->
    
        <div class="header-nav-login">
    
            <!-- Barra de navegación -->
    
            <div class="navbar">
            <ul>
                <li> Ofertas </li>
                <li> Tiendas Oficiales </li>
                <li> Vender </li>
                <li> Ayuda </li>
            </ul>
            </div>
    
            <!-- Barra de login -->
    
            <div class="loginbar">
            <ul>
                <li><a href="/register">Creá tu cuenta</a>  <i class="fas fa-address-card"></i> </li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> Mis compras <i class="fas fa-shopping-basket"></i> </li>
            </ul>
            </div>
    
        </div>
    
        <!-- MENÚ hamburguesa -->
    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    
        <!-- Banner-->
    
        <div class="banner"><img src="/images/img-home-banner.jpg" alt= "" style="width: 100%;"></div>
    
    </header>

<main>

  <!-- Formulario de Login-->

  <form action="/" method="GET" class="form-login">
     
    <h2> 
        Ingresá a tu cuenta
    </h2>

    <div>
        <label>Nombre de usuario</label>
        <input type="text" name="usuario">
    </div>
    
    <div>
        <label>Contraseña</label>
        <input type="password" name="contraseña">
    </div>

    
    <span class="contenedor-botones">

        <!-- Botón "enviar" - página principal-->

     <button type="submit" class="boton-enviar">Enviar</button>
    
    </span>
     

</form>

</main>

<!-- Footer con links y segmentos accesorios-->

<footer>

    <!-- Contenedor para elementos del footer-->

    <div class="contenedor-footer">

        <!-- Contenedor para primer elemento del footer-->

        <div class="contenedor-tarjeta-footer">

            <div class="iconos-footer"><i class="fas fa-credit-card"></i></div>

            <p class="footer-titulos">Pagá con tarjeta o en efectivo</p>

            <p class="footer-contenido">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        
        </div>

        <!-- Contenedor para segundo elemento del footer-->

        <div class="contenedor-envio-footer">

            <div class="iconos-footer"><i class="fas fa-gift"></i></div>

            <p class="footer-titulos">Envío gratis desde los $. 2.500</p>

            <p class="footer-contenido">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </div>


        <!-- Contenedor para tercer elemento del footer-->
        
        <div class="contenedor-seguridad-footer">

                <div class="iconos-footer"><i class="fas fa-user-shield"></i></i></div>

                <p class="footer-titulos">Seguridad de principio a fin</p>   

                <p class="footer-contenido">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                
        </div>

    </div>

    <!-- Descripción copyright y derechos reservados-->
    
    <p class="copyright">Copyright © 1999-2021 MercadoLiebre S.R.L.</p>  

</footer>

</body>

</html>