html
{
    background-color: #EAC926;
}

/* INICIO REGLAS DE ESTILO GENERALES*/

/* Estilo universal*/

*
{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

/* Estilo para body*/

body 
{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 100%;
    margin: auto;
}

/* FIN REGLAS DE ESTILO GENERALES*/

/* INICIO REGLAS DE ESTILO PARA HEADER*/

/* Estilo para header*/

header
{
    font-size: 12px;
    box-sizing: border-box;
    background-color: #EAC926;
    width: 100%;
    margin: auto;
}

/* Estilo para main header */

.main-header
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.header-nav-login
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

/*Estilo para logo ML*/

.logo
{
    max-width: 150px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
}

/*Estilo para banner header*/

.banner
{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*Estilo search bar*/

.search-bar
{
    width: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
}

/*Estilo search bar input*/

.search-bar input
{
    width: 100%;
    margin:auto;
    padding: 5px;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

/*Estilo logo search bar*/

.logo-search-bar
{
    height: 25px;
    width: auto;
    background-color: white;  
    color:#666;
    border-style:solid;
    border-color: white;
    border-width: 5px;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    align-self: center;
    justify-self: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Estilo mensaje sobre tarjeta de crédito*/

.tarjeta-header
{
    text-align: center;
    align-self: center;
    padding: 10px;
    padding-top: 0px;
}

/*Estilo mensaje sobre tarjeta de crédito*/

.tarjeta-header-2
{
    text-align: center;
    align-self: center;
    padding: 10px;
    padding-top: 0px;
    display: none;
}

/* Estilo descendente para icono de "menú hamburguesa"*/

.burger-menu
{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilo general para icono en "menú hamburguesa"*/

.burger-menu i
{
    padding:10px;
    border-radius: 10px;
    background-color: #1259c3;
    color: white
}

.navbar
{
    display: none; 
    list-style: none;
}

.navbar ul, .loginbar ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar ul li, .loginbar ul li
{
    margin: 0 5px;
}

.loginbar
{
    display: none; 
}

/* FIN REGLAS DE ESTILO PARA HEADER*/

/* INICIO REGLAS DE ESTILO PARA MAIN*/

/* Estilo general para main*/

main
{
    margin: auto;
    width: 100%;
    background-color: #ebebeb;
}

/* Estilo para secciones de "basado en última visita" y "ofertas"*/

.ultima-vista, .ofertas
{
    width: 100%;
    margin: auto;
    padding: 10px;
}

/* Estilo para artículos, contenedores y elementos*/

article
{
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.contenedor-articulo
{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: #ebebeb;
    background-color: white;
    margin: auto;
    border: 0px;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    justify-content: space-between;
}

.contenedor-descripciones
{
    display: none;
    flex-wrap: wrap;
    border-top: 1px;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: #ebebeb;
    background-color: white;
    margin: auto;
    border: 0px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-self: left;
    transition: all 0.5s;
}

.informacion-articulo
{
    margin: 0%;
}

article:hover
{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article:hover .contenedor-descripciones 
{
    display: block;
}

article:hover .contenedor-descripciones  .descripciones
{
    display: block;
}

/* Estilo para títulos*/

.titulos
{
    font-size: 24px;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

/* Estilo para descripciones de productos*/

.descripciones
{
    font-size: 16px;
    margin: 0px;
    color:#666;
    display: none;
    transition: all 0.5s;
}

/* Estilo para información sobre precios*/

.precios
{
    font-size: 18px;
    margin: auto;
    width: 30%;
}

/* Estilo  para información sobre descuentos*/

.descuentos
{
    font-size: 16px;
    color: #39b54a;
    margin: auto;
    width: 50%;
}

/*Estilo para icono-envio*/

.icono-envio
{
    border:solid 1px #39b54a;
    background-color: #FFFF;
    border-radius: 50%;
    color:#39b54a;
    width: 30px;
    font-size: 16px;
    padding: 5px;
    position: relative;
    right: 5px;
    top: -25px;
    transition: transform 1s;
}

/*Estilo para rotación del camioncito*/

article:hover .contenedor-articulo .icono-envio
{
    transform: rotate(360deg);
}

/* FIN REGLAS DE ESTILO PARA MAIN*/

/* INICIO REGLAS DE ESTILO PARA FOOTER*/

/* Estilo general para footer*/

footer
{
    font-size: 12px;
    text-align: center;
    background-color: white;
    padding: 60px 30px 20px 30px;
    margin: auto;
    width: 95%;
    margin: auto;
}

/* Estilo para títulos en el footer*/

.footer-titulos
{
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
    border: thin;
    padding: 0%;
    color: #666;
    
}

/* Estilo para contenido en el footer*/

.footer-contenido
{
    margin-bottom: 30px;
    border: thin;
    padding: 0%;
    color: #666;
}

/* Estilo para icono de tarjeta de crédito*/

.iconos-footer
{
    font-size: 2em;
    color:  #1259c3;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo general para derechos de copyright en footer*/

.copyright
{
    text-align: left;
    color: #666;     
}

/* FIN REGLAS DE ESTILO PARA FOOTER*/

/* INICIO REGLAS DE ESTILO PARA FORMS*/

/*Estilo para formulario de registro*/

.form-register
{
    background-color: #ebebeb;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
}

.form-register div
{
    padding: 5px;
    margin: 10px;
}

.form-register h2
{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 24px;
}

.form-register div label
{
    padding: 10px;
    font-size: 14px;
}

.form-register input

{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.form-register input[type=radio]
{
    width: 1em;
    height: 1em;
}

.form-register input[type=checkbox]
{
    width: 1em;
    height: 1em;
    margin: 5px;
}

.contenedor-botones
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: auto;
}

.boton-enviar, .boton-borrar
{
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color:#666;
    color: white;
    transition: 0.3s;
    font-size: 16px;
}

.boton-enviar:hover, .boton-borrar:hover
{
    background-color: #0022AA;
    color: white;
}

/*Estilo para formulario de ingreso*/

.form-login
{
    background-color: #ebebeb;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
}

.form-login div
{
    padding: 5px;
    margin: 10px;
}

.form-login h2
{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 24px;
}

.form-login div label
{
    padding: 10px;
    font-size: 14px;
}

.form-login input

{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.contenedor-botones
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: auto;
}

/* FIN REGLAS DE ESTILO PARA FORMS*/

/* INICIO REGLAS DE ESTILO BREAKPOINTS*/

/* Configuraciones de estilo desde 361px en adelante*/

@media (min-width: 361px)
{
    .burger-menu
    {
        display: none;
    }
    footer
    {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .navbar, .loginbar
    {
        display: block;
    }

    .navbar ul, .loginbar ul
    {
        display: flex; 
        justify-content: space-between;
        width: 100%;
        padding: 0px;
    }

    .contenedor-ultima-vista, .contenedor-ofertas
    {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        max-width: 768px;
    }

    article
    {
        max-width: 40vw;
    }

    .tarjeta-header
    {
        display: none;
    }

    .tarjeta-header-2
    {
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        padding: 5px;
    }

    .search-bar
    {
        max-width: 250px;
    }
    .search-bar input
    {
        max-width: 250px;
        margin:auto;
        padding: 5px;
    }

    .contenedor-articulo
    {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10px;
    }

    .descuentos
    {
        position: relative;
        left: 40px;
    }

    article:hover
    {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    article:hover .contenedor-descripciones 
    {
        display: block;
    }
    
    article:hover .contenedor-descripciones .descripciones
    {
        display: block;
    }

    article:hover .contenedor-articulo .icono-envio
    {
        transform: rotate(360deg);
    }
    
}

/*Reglas de estilo desde 769px en adelante*/

@media (min-width: 769px)
{
    .header-nav-login ul
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contenedor-ultima-vista, .contenedor-descripciones
    {
        max-width: 1283px;
        flex-wrap: wrap;
    }

    .contenedor-ofertas
    {
        max-width: 1283px;
        flex-wrap: wrap;
    }

    article
    {
        max-width: 20%;
    }   

    .contenedor-footer
    {
        display: flex;
        justify-content: space-between;
    }

    .iconos-footer
    {
        text-align: center;
        width: 35px;
        transition: 0.3s;
    }

    footer
    {
        width: 99%;
    }

    .iconos-footer:hover
    {
        color: #39b54a;
        font-size: 2.5em;
    }

    article:hover
    {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    article:hover .contenedor-descripciones 
    {
        display: block;
    }
    
    article:hover .contenedor-descripciones  .descripciones
    {
        display: block;
    }
}